@font-face {
    font-weight: normal;
    font-family: "Roboto-Regular";
    font-style: normal;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-weight: bold;
    font-family: "Roboto-Bold";
    font-style: normal;
    src: url("../fonts/Roboto-Bold.ttf");
}