.company__body {
    display: flex;

    @media(max-width: 1200px) {
        flex-wrap: wrap;
    }
}

.company__advertisement {

    @media(max-width: 800px) {
        margin: auto;
    }
}

.advertisement__table {
    width: 740px;
    font-size: 1.2rem;
    color: $primary-color;
    border-collapse: collapse;
    margin-bottom: 40px;

    @media(max-width: 800px) {
        width: 650px;
    }

    @media(max-width: 750px) {
        max-width: 550px;
    }

    @media(max-width: 600px) {
        max-width: 400px;
    }

    @media(max-width: 500px) {
        max-width: 350px;
    }
}

.head__row {
    background: #F0F0F0;
    border-radius: 3px;

    th {
        text-align: left;
        color: #424242;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: normal;
        padding: 8px 0;
    }
}

.th-view {
    @media(max-width: 500px) {
        display: none;
    }
}

.th-publisher {
    margin-left: 5px;
}

.table__buttons {
    width: 50px;
    box-sizing: border-box;
    padding-right: 10px;

    @media(max-width: 500px) {
        width: 30px;
        padding-right: 0px;
    }
}

.table__view {
    width: 40px;
    height: 16px;
    background-image: url(../../img/ic_view.png);
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;

    @media(max-width: 500px) {
        display: none;
    }
}

.table__row {
    border-bottom: 1px solid #E0E0E0;
}

.table__good {
    width: 305px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    @media(max-width: 800px) {
        width: 160px;
        padding-right: 10px;
    }
}

.table__time {
    width: 56px;
    color: #424242;
}

.table__views {
    width: 40px;
    text-align: right;
    padding-right: 15px;
    color: #424242;

    @media(max-width: 500px) {
        display: none;
    }
}

.table__publisher,
.th-publisher {
    display: flex;
    width: 230px;

    @media (max-width: 800px) {
        width: 180px;
    }

    @media (max-width: 500px) {
        width: 150px;
    }
}

.publisher__icon {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/photo.png);
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
}

.ocean__icon {
    background-image: url(../img/ocean.png);
}

.publisher__job {
    color: #999999;
}