.main__commercial {
    @media(max-width: 1200px) {
        display: none;
    }
}

.commercial__item {
    width: 160px;
    min-height: 320px;
    background-color: #FAFAFA;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 130px;
}

.commercial__text {
    font-size: 2rem;
    line-height: 3rem;
    color: #999999;
}